html {
  background: url("/images/2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  font: 18px "Lato";
}
a {
  color: #00b7ff;
}
.content_holder {
  margin: 0px;
  background: rgba(255,255,255,0.5);
}
#header {
  height: 80px;
  margin-bottom: 20px;
}
#thorax {
  height: 300px;
}
#all {
  min-height: 300px;
  left: 100px;
  position: relative;
}
#thin {
  float: left;
  width: 200px;
  min-height: 1px;
  margin-right: 20px;
}
#wide {
  min-width: 300px;
  float: left;
  left: 150px;
  height: 100%;
}
#title {
  font-size: 64px;
  font-weight: 300;
}
#nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
#nav li {
  font-size: 26px;
}
